/* 
=============
RESET ESTILOS
=============
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


h1, h2, h3, p, a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1em;
  color: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Colores Principales */
  --valoresPrimario: 30, 80%, 50%;
  --colorPrimario: hsl(var(--valoresPrimario));
  --colorPrimarioOscuro: hsl(30, 80%, 42%);

  /* Colores Base */
  --colorTexto: hsl(0, 0%, 30%);
  --colorFondo: hsl(0, 0%, 97%);

  /* Tipografía */
  --fuenteGeneral: 'Lato', sans-serif;
  --pesoGeneral: 300;

  /* Dimensiones */
  --areaActiva: 1180px;
  --tamañoLogoHeader: 90px;
  --alturaImagenProductos: 260px;
  --alturaImagenCiudades: 200px;

  /* Otros */
  --transicionColores: background-color 300ms linear, color 300ms linear;
  --transicionTransformacion: transform 400ms linear, opacity 400ms linear;
  --transicionBorde: border 300ms;
}

/*
=================
ESTILOS GENERALES
=================
*/

body {
  background-color: var(--colorFondo);
  font-family: var(--fuenteGeneral);
  font-size: 1rem;
  font-weight: var(--pesoGeneral);
  color: var(--colorTexto);
}

img {
  display: block;
  max-width: 100%;
  height: inherit;
}

p {
  line-height: 1.4em;
}

i[class|=ion] {
  display: inline-block;
  text-align: center;
}

h2.tituloSeccion {
  font-size: 1.875rem;
  letter-spacing: 1px;
  word-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: center;
}

h2.tituloSeccion:after {
  content: '';
  margin: 0px auto;
  margin-top: 1.25rem; 
  display: block;
  width: 10%;
  height: 2px;
  background-color: var(--colorPrimario);
}

h3.tituloArticulo {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  word-spacing: 0.125rem;
  text-align: center;
}

/*
==================
ESTILOS ESTRUCTURA
==================
*/

.areaActiva {
  margin: 0px auto;
  max-width: var(--areaActiva);
  flex-grow: 1;
}

section.seccionInformacion {
  padding: 5rem 0px;
}

/*
================
BARRA NAVEGACIÓN
================
*/

header {
  display: flex;
  min-height: 100vh;
  padding: 1.25rem 0px;
  background-image: url('/recursos/imagenes/fondos/fondoHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(0, 0%, 30%);
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;
  flex-direction: column;
  position: relative;
}

div#barraHeader {
  flex-grow: 0;
}

div#barraHeader div.areaActiva {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

div#logoHeader {
  height: var(--tamañoLogoHeader);
}

ul#enlacesHeader {
  display: flex;
}

ul#enlacesHeader li {
  margin-left: 2rem;
  padding: 0.5rem 0px;
  border-bottom: 2px solid transparent;
  transition: var(--transicionBorde);
}

ul#enlacesHeader a {
  font-size: 1rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

ul#enlacesHeader li:hover {
  border-bottom-color: var(--colorPrimario);
}

/* 
============
SECCIÓN HERO
============
*/

div#hero {
  flex-grow: 1;
}

div#contenidoHero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div#contenidoHero h1 {
  font-size: 2.5rem;
}

div#contenidoHero h2 {
  font-size: 1.5rem;
}

div#contenidoHero h1, div#contenidoHero h2 {
  margin-bottom: 1.5rem;
  word-spacing: 0.25rem;
  text-transform: uppercase;
}

div#contenidoHero a[class*='boton'] {
  margin-right: 1rem;
  display: inline-block;
  border-radius: 10rem;
  padding: 0.75em 2em;
  font-size: 1rem;
  transition: var(--transicionColores);
  border: 1px solid transparent;
  cursor: pointer;
}

div#contenidoHero a.botonPrincipal {
  background-color: var(--colorPrimario);
  color: white;
}

div#contenidoHero a.botonPrincipal:hover {
  background-color: var(--colorPrimarioOscuro);
}

div#contenidoHero a.botonSecundario{
  border-color: var(--colorPrimario);
  color: var(--colorPrimario);
}

div#contenidoHero a.botonSecundario:hover {
  background-color: var(--colorPrimarioOscuro);
  border-color: var(--colorPrimarioOscuro);
  color: white;
}

/*
=================
SECCIÓN: FEATURES
=================
*/

div#descripcionFeatures {
  margin-bottom: 3.75rem;
}

div#descripcionFeatures p {
  margin: 0px auto;
  width: 70ch;
  font-size: 1.25rem;
}

div#descripcionFeatures h2.tituloSeccion {
  margin-bottom: 1.875rem;
}

div#galeriaFeatures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
}

div#galeriaFeatures i {
  display: block;
  margin: 0px auto;
  margin-bottom: 0.75rem;
  font-size: 4rem;
  color: var(--colorPrimario);
}

div#galeriaFeatures h3 {
  margin-bottom: 1.25rem;
}

div#galeriaFeatures p {
  font-size: 1.0625rem;
  text-align: justify;
}

div#galeriaFeatures strong {
  font-weight: normal;
}


/* 
==================
SECCIÓN: PRODUCTOS
==================
*/

#seccionProductos ul.galeriaProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  overflow-x: hidden;
}

#seccionProductos figure.imagenProducto {
  height: var(--alturaImagenProductos);
  background-color: black;
  overflow: hidden;
}

#seccionProductos figure.imagenProducto img {
  width: 100%;
  object-fit: cover;
  opacity: 65%;
  transition: var(--transicionTransformacion);
}

#seccionProductos figure.imagenProducto:hover img {
  opacity: 100%;
  transform: scale(1.15);
}

/* 
==============
SECCIÓN: PASOS
==============
*/

#seccionPasos h2.tituloSeccion {
  margin-bottom: 3.125rem;
}

div#contenedorInfoPasos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4vw;
  align-items: center;
}

div#contenedorInfoPasos figure.columnaImagen img {
  width: 40%;
  margin-left: auto;
}

div#contenedorInfoPasos ul.listaPasos li {
  display: flex;
  margin-bottom: 1.875rem;
  justify-content: flex-start;
  align-items: center;
}

div#contenedorInfoPasos div.numeroPaso {
  display: inline-block;
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--colorPrimario);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.125rem;
  text-align: center;
  color: var(--colorPrimario);
}

div#contenedorInfoPasos p.textoPaso {
  max-width: 40ch;
  font-size: 1.125rem;
  text-align: justify;
}

div#contenedorInfoPasos div.enlacesAplicaciones {
  margin-top: 3.125rem;
}

div#contenedorInfoPasos div.enlacesAplicaciones a {
  margin-right: 0.625rem;
  height: 2.5rem;
}

div#contenedorInfoPasos div.enlacesAplicaciones img {
  display: inline-block;
  vertical-align: bottom;
}

/* 
=================
SECCIÓN: CIUDADES
=================
*/

#seccionCiudades {
  background-color: white;
}

#seccionCiudades h2.tituloSeccion {
  margin-bottom: 3.125rem;
}

#seccionCiudades div.galeriaCiudades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
}

#seccionCiudades article.cartaCiudad {
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0%, 0%, 0%, 20%);
  transition: box-shadow 300ms;
}

#seccionCiudades article.cartaCiudad:hover {
  box-shadow: 0px 1px 3px hsla(var(--valoresPrimario), 50%);
}

#seccionCiudades figure.encabezadoCarta {
  height: var(--alturaImagenCiudades);
}

#seccionCiudades figure.encabezadoCarta img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#seccionCiudades div.cuerpoCarta {
  padding: 1.75rem 1rem;
}

#seccionCiudades h3.tituloArticulo {
  margin-bottom: 1rem;
}

#seccionCiudades li.datoCiudad {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#seccionCiudades li.datoCiudad:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

#seccionCiudades li.datoCiudad i {
  margin-right: 0.5rem;
  width: 1.25rem;
  font-size: 1.25rem;
  color: var(--colorPrimario);
}

#seccionCiudades small {
  font-size: 0.75rem;
}

#seccionCiudades li.datoCiudad a {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.125rem;
  font-style: italic;
  transition: var(--transicionBorde);
}

#seccionCiudades article.cartaCiudad:hover a {
  color: var(--colorPrimario);
}

#seccionCiudades li.datoCiudad a:hover {
  cursor: pointer;
  border-bottom-color: var(--colorPrimario);
}

/* 
====================
SECCIÓN: TESTIMONIOS
====================
*/

#seccionTestimonios {
  background-color: hsla(0, 0%, 20%);
  background-image: url('/recursos/imagenes/fondos/fondoTestimonios.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

#seccionTestimonios h2.tituloSeccion {
  margin-bottom: 3.125rem;
  color: white;
}

#seccionTestimonios div.galeriaTestimonios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
