/* 
=============
RESET ESTILOS
=============
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


h1, h2, h3, p, a, input, select, textarea, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Colores Principales */
  --valoresPrimario: 30, 80%, 50%;
  --colorPrimario: hsl(var(--valoresPrimario));
  --colorPrimarioOscuro: hsl(30, 80%, 42%);

  /* Colores Base */
  --colorTexto: hsl(0, 0%, 30%);
  --colorFondo: hsl(0, 0%, 97%);

  /* Tipografía */
  --fuenteGeneral: 'Lato', sans-serif;
  --pesoGeneral: 300;

  /* Dimensiones */
  --areaActiva: 1180px;
  --tamañoLogoHeader: 90px;
  --alturaImagenProductos: 260px;
  --alturaImagenCiudades: 200px;

  /* Otros */
  --sombraTarjetas: 0px 2px 2px hsl(0, 0%, 90%);
  --transicionColores: background-color 300ms linear, color 300ms linear;
  --transicionTransformacion: transform 400ms linear, opacity 400ms linear;
  --transicionBorde: border 200ms linear, outline 200ms linear;
}

/*
=================
ESTILOS GENERALES
=================
*/

body {
  background-color: var(--colorFondo);
  font-family: var(--fuenteGeneral);
  font-size: 1rem;
  font-weight: var(--pesoGeneral);
  color: var(--colorTexto);
}

img {
  display: block;
  max-width: 100%;
  height: inherit;
}

p, blockquote {
  line-height: 1.4em;
}

i[class|=ion] {
  display: inline-block;
  text-align: center;
}

h2.tituloSeccion {
  margin-bottom: 3.125rem;
  font-size: 1.875rem;
  letter-spacing: 1px;
  word-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: center;
}

h2.tituloSeccion:after {
  content: '';
  margin: 0px auto;
  margin-top: 1.25rem; 
  display: block;
  width: 8ch;
  height: 2px;
  background-color: var(--colorPrimario);
}

h3.tituloArticulo {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  word-spacing: 0.125rem;
  text-align: center;
}

a[class*='boton'], button[class*='boton'] {
  display: inline-block;
  border-radius: 10rem;
  padding: 0.75em 2em;
  font-size: 1rem;
  border: 1px solid transparent;
  transition: var(--transicionColores);
  cursor: pointer;
}

a.botonPrincipal, button.botonPrincipal {
  background-color: var(--colorPrimario);
  color: white;
}

a.botonPrincipal:hover, button.botonPrincipal:hover {
  background-color: var(--colorPrimarioOscuro);
}

a.botonSecundario {
  border-color: var(--colorPrimario);
  color: var(--colorPrimario);
}

a.botonSecundario:hover {
  background-color: var(--colorPrimarioOscuro);
  border-color: var(--colorPrimarioOscuro);
  color: white;
}

/* 
====================
RANGOS MEDIA QUERIES
====================

BREAK POINTS:
A. Mínimo: 0px
B. 576px
C. 768px
D. 992px
E. 1200px
F. 1400px
Z. Máximo

RANGOS:
AB. Celulares Verticales: <= 575 px
BC. Celulares Horizontales: 576 px - 767 px
CD. Tablets Verticales: 768 px - 991 px
DE. Tablets Horizontales: 992 px - 1199 px
EF. Portátiles: 1200 px - 1439 px
FZ. Monitores: >= 1440 px
*/

/*
==================
ESTILOS ESTRUCTURA
==================
*/

.areaActiva {
  margin: 0px auto;
}

/* MEDIA QUERIES: ESTRUCTURA */

/* 1. Rango AB (Celulares Verticales): <= 575px */
@media (max-width: 575px) {
  html {
    font-size: 87.5%;
  }
}

/* 1. Rango BZ (Celulares Horizontales, Tablets, Computadoras): >= 576px */
@media (min-width: 576px) {
  html {
    font-size: 100%;
  }
}

/* 2. Rango AD (Celulares, Tablets Verticales): <= 991px */
@media (max-width: 991px) {
  section.seccionInformacion {
    padding: 5rem 0px;
  }
}

/* 2. Rango DZ (Tablets Horizontales, Computadoras): >= 992px */
@media (min-width: 992px) {
  section.seccionInformacion {
    padding: 3.75rem 0px;
  }
}

/* 3. Rango AE (Celulares, Tablets): <= 1199px */
@media (max-width: 1199px) {
  .areaActiva {
    width: 100%;
    padding: 0px 2.5%;
  }
}

/* 3. Rango EZ (Computadoras): >= 1200px */
@media (min-width: 1200px) {
  .areaActiva {
    max-width: var(--areaActiva);
    padding: 0px;
  }
}

/*
================
BARRA NAVEGACIÓN
================
*/

#header {
  display: flex;
  min-height: 100vh;
  padding: 1.25rem 0px;
  background-image: url('/recursos/imagenes/fondos/fondoHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(0, 0%, 30%);
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;
  flex-direction: column;
  position: relative;
}

div#barraHeader {
  flex-grow: 0;
}

div#barraHeader div.areaActiva {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

div#logoHeader {
  height: var(--tamañoLogoHeader);
}

ul#enlacesHeader {
  display: flex;
}

ul#enlacesHeader li {
  margin-left: 2rem;
  padding: 0.5rem 0px;
  border-bottom: 2px solid transparent;
  transition: var(--transicionBorde);
}

ul#enlacesHeader a {
  font-size: 1rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

ul#enlacesHeader li:hover {
  border-bottom-color: var(--colorPrimario);
}

/* 
=============
SECCIÓN: HERO
=============
*/

div#hero {
  flex-grow: 1;
}

div#contenidoHero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div#contenidoHero h1 {
  font-size: 2.5rem;
}

div#contenidoHero h2 {
  font-size: 1.5rem;
}

div#contenidoHero h1, div#contenidoHero h2 {
  margin-bottom: 1.5rem;
  word-spacing: 0.25rem;
  text-transform: uppercase;
}

div#contenidoHero a.botonPrincipal {
  margin-right: 1rem;
}

/*
=================
SECCIÓN: FEATURES
=================
*/

div#descripcionFeatures {
  margin-bottom: 3.75rem;
}

div#descripcionFeatures p {
  margin: 0px auto;
  font-size: 1.25rem;
}

div#descripcionFeatures h2.tituloSeccion {
  margin-bottom: 1.875rem;
}

div#galeriaFeatures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
}

div#galeriaFeatures i {
  display: block;
  margin: 0px auto;
  margin-bottom: 0.75rem;
  font-size: 4rem;
  color: var(--colorPrimario);
}

div#galeriaFeatures h3 {
  margin-bottom: 1.25rem;
}

div#galeriaFeatures p {
  font-size: 1.0625rem;
  text-align: justify;
}

div#galeriaFeatures strong {
  font-weight: normal;
}

/* MEDIA QUERIES: SECCIÓN FEATURES */

/* 1. Rango AD (Celulares, Tablets Verticales): <= 991px */
@media (max-width: 991px) {
  div#descripcionFeatures p {
    width: 100%;
    padding: 0px 10%;
  }
}

/* 1. Rango DZ (Tablets Horizontales, Computadoras): >= 992px */
@media (min-width: 992px) {
  div#descripcionFeatures p {
    max-width: 70ch;
  }
}

/* 
==================
SECCIÓN: PRODUCTOS
==================
*/

#seccionProductos ul.galeriaProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  overflow-x: hidden;
}

#seccionProductos figure.imagenProducto {
  height: var(--alturaImagenProductos);
  background-color: black;
  overflow: hidden;
}

#seccionProductos figure.imagenProducto img {
  width: 100%;
  object-fit: cover;
  opacity: 65%;
  transition: var(--transicionTransformacion);
}

#seccionProductos figure.imagenProducto:hover img {
  opacity: 100%;
  transform: scale(1.15);
}

/* 
==============
SECCIÓN: PASOS
==============
*/

div#contenedorInformacionPasos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4vw;
  align-items: center;
}

div#contenedorInformacionPasos figure.columnaImagen img {
  width: 40%;
  margin-left: auto;
}

div#contenedorInformacionPasos ul.listaPasos li {
  display: flex;
  margin-bottom: 1.875rem;
  justify-content: flex-start;
  align-items: center;
}

div#contenedorInformacionPasos div.numeroPaso {
  display: inline-block;
  margin-right: 1rem;
  min-width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--colorPrimario);
  border-radius: 50%;
  font-size: 1.125rem;
  line-height: calc(2.5rem - 2 * 1px);
  color: var(--colorPrimario);
  text-align: center;
}

div#contenedorInformacionPasos p.textoPaso {
  max-width: 40ch;
  font-size: 1.125rem;
  text-align: justify;
}

div#contenedorInformacionPasos div.enlacesAplicaciones {
  margin-top: 3.125rem;
}

div#contenedorInformacionPasos div.enlacesAplicaciones a {
  margin-right: 0.625rem;
  height: 2.5rem;
}

div#contenedorInformacionPasos div.enlacesAplicaciones img {
  display: inline-block;
  vertical-align: bottom;
}

/* 
=================
SECCIÓN: CIUDADES
=================
*/

#seccionCiudades {
  background-color: white;
}

#seccionCiudades div.galeriaCiudades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
}

#seccionCiudades article.tarjetaCiudad {
  border-radius: 10px;
  box-shadow: var(--sombraTarjetas);
  transition: box-shadow 300ms;
}

#seccionCiudades article.tarjetaCiudad:hover {
  box-shadow: 0px 2px 2px hsla(var(--valoresPrimario), 30%);
}

#seccionCiudades figure.encabezadoTarjeta {
  height: var(--alturaImagenCiudades);
}

#seccionCiudades figure.encabezadoTarjeta img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

#seccionCiudades div.cuerpoTarjeta {
  padding: 1.75rem 1rem;
}

#seccionCiudades h3.tituloArticulo {
  margin-bottom: 1rem;
}

#seccionCiudades li.datoCiudad {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#seccionCiudades li.datoCiudad:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

#seccionCiudades li.datoCiudad i {
  margin-right: 0.5rem;
  width: 1.25rem;
  font-size: 1.25rem;
  color: var(--colorPrimario);
}

#seccionCiudades small {
  font-size: 0.75rem;
}

#seccionCiudades li.datoCiudad a {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.125rem;
  font-style: italic;
  transition: var(--transicionBorde);
}

#seccionCiudades article.tarjetaCiudad:hover a {
  color: var(--colorPrimario);
}

#seccionCiudades li.datoCiudad a:hover {
  cursor: pointer;
  border-bottom-color: var(--colorPrimario);
}

/* 
====================
SECCIÓN: TESTIMONIOS
====================
*/

#seccionTestimonios {
  background-color: hsla(0, 0%, 20%);
  background-image: url('/recursos/imagenes/fondos/fondoTestimonios.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

 #seccionTestimonios h2.tituloSeccion {
  color: white;
}

#seccionTestimonios div.galeriaTestimonios {
  --colorNegro: hsla(0, 0%, 0%, 40%);
  --coloresGradiente: transparent 0%, var(--colorNegro) 30%, var(--colorNegro) 70%, transparent 100%;
  background-image: linear-gradient(to bottom, var(--coloresGradiente));
}

#seccionTestimonios div.galeriaTestimonios div.areaActiva{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
}

#seccionTestimonios article.contenedorTestimonio blockquote:before {
  content: open-quote;
  position: absolute;
  top: -0.5em;
  left: -0.05em;
  font-size: 5rem;
  line-height: 1em;
}

#seccionTestimonios article.contenedorTestimonio blockquote:after {
  content: close-quote;
  position: absolute;
  visibility: hidden;
}

#seccionTestimonios article.contenedorTestimonio blockquote {
  margin-top: 2.5rem;
  position: relative;
  font-size: 1.125rem;
  font-style: italic;
}

#seccionTestimonios div.autorTestimonio {
  display: flex;
  margin-top: 1.75rem;
  flex-flow: row wrap;
  align-items: center;
}

#seccionTestimonios div.autorTestimonio figure {
  margin-right: 1rem;
}

#seccionTestimonios div.autorTestimonio img {
  height: 60px;
  border-radius: 50%;
}

/* 
================
SECCIÓN: PRECIOS
================
*/

#seccionPrecios div.galeriaPlanes {
  display: grid;
  padding: 0px 3.125rem;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3.125rem;
}

#seccionPrecios article.tarjetaPlan {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 2px hsl(0, 0%, 90%);
}

#seccionPrecios article.tarjetaPlan > div {
  padding: 0.9375em;
}

#seccionPrecios article.tarjetaPlan > div:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

#seccionPrecios div.encabezadoTarjeta h3.nombrePlan {
  margin-bottom: 0.9375rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
}

#seccionPrecios div.encabezadoTarjeta h3.nombrePlan:after {
  content: '';
  margin: 0px auto;
  margin-top: 0.375rem; 
  display: block;
  width: 5ch;
  height: 1px;
  background-color: var(--colorPrimario);
}

#seccionPrecios div.encabezadoTarjeta div.precioPlan {
  font-size: 3.125rem;
  font-weight: 100;
  line-height: 1em;
  color: var(--colorPrimario);
}

#seccionPrecios div.encabezadoTarjeta span.valorPrecio {
  font-size: 1em;
}

#seccionPrecios div.encabezadoTarjeta span.unidadPrecio {
  font-size: 1.125rem;
}

#seccionPrecios div.encabezadoTarjeta p.resumenPlan {
  font-size: 0.875rem;
  font-style: italic;
}

#seccionPrecios div.cuerpoTarjeta {
  background-color: hsl(0, 0%, 99%);
}

#seccionPrecios div.cuerpoTarjeta li.caracteristicaPlan {
  padding: 4px 0px;
}

#seccionPrecios div.cuerpoTarjeta li.caracteristicaPlan i {
  width: 1.875rem;
  font-size: 1.5rem;
  color: var(--colorPrimario);
  transform: translateY(2px);
}

#seccionPrecios div.cuerpoTarjeta li.caracteristicaPlan span {
  font-size: 1rem;
}

#seccionPrecios div.pieTarjeta {
  text-align: center;
}

#seccionPrecios div.pieTarjeta a {
  margin: 0.3125rem 0px;
}

/* 
============================
SECCIÓN: FORMULARIO CONTACTO
============================
*/

#seccionContacto {
  background-color: white;
}

#seccionContacto form {
  margin: 0px auto;
  width: 60%;
}

#seccionContacto div.filaCampo:not(:last-child) {
  margin-bottom: 0.9375rem;
}

#seccionContacto div.filaCampo {
  display: grid;
  grid-template-areas: 'Etiqueta Campo';
  grid-template-columns: 1fr 2fr;
  align-items: baseline;
}

#seccionContacto div.campoVariasLineas {
  align-items: center;
}

#seccionContacto div.columnaEtiqueta {
  grid-area: Etiqueta;
}

#seccionContacto div.columnaCampo {
  grid-area: Campo;
}

#seccionContacto input[type='text'],
#seccionContacto input[type='email'],
#seccionContacto select,
#seccionContacto textarea {
  width: 100%;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  outline: none;
  padding: 0.5rem 0.75rem;
  transition: var(--transicionBorde);
}

#seccionContacto input[type='text']:focus,
#seccionContacto input[type='email']:focus,
#seccionContacto select:focus,
#seccionContacto textarea:focus {
  box-shadow: 0px 0px 2px hsla(var(--valoresPrimario), 40%);
  border-color: hsla(var(--valoresPrimario), 50%);
}

#seccionContacto input[type='checkbox'] {
  margin-right: 0.3125rem;
}

#seccionContacto label.etiquetaCheckbox {
  display: inline-block;
  padding: 0.5rem 0px;
}

#seccionContacto textarea {
  resize: vertical;
  max-height: 15rem;
  min-height: 2.25rem;
  overflow: auto;
}

#seccionContacto select:invalid {
  color: hsl(0, 0%, 60%);
}

#seccionContacto option {
  color: var(--colorTexto);
}

#seccionContacto option:disabled {
  font-size: 0.875rem;
  font-style: italic;
  color: hsl(0, 0%, 60%);
}

#seccionContacto button[type='submit'] {
  margin-top: 0.375rem;
}

/* 
=============
PIE DE PÁGINA
=============
*/

#footer {
  background-color: hsl(0, 0%, 20%);
  padding: 1.5rem;
  color: hsl(0, 0%, 60%);
}

#footer nav.filaEnlaces {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#footer ul.navegacionFooter {
  display: flex;
  justify-self: start;
}

#footer ul.navegacionFooter li {
  margin-right: 1.875rem;
  font-size: 1rem;
  transition: var(--transicionColores);
}

#footer ul.navegacionFooter li:hover {
  color: white;
}

#footer ul.enlacesRedesSociales {
  display: flex;
  justify-self: end;
}

#footer ul.enlacesRedesSociales li {
  margin-left: 1.25rem;
  font-size: 1.375rem;
  transition: var(--transicionColores);
}

#footer li.iconoTwitter:hover {
  color: #00ACED;
}

#footer li.iconoFacebook:hover {
  color: #3B5998;
}

#footer li.iconoGooglePlus:hover {
  color: #DD4B39;
}

#footer li.iconoInstagram:hover {
  color: #C13584;
}

#footer div.filaInformacionFooter p {
  font-size: 0.875rem;
  text-align: center;
}