/* 
=============
IMPORTACIONES
=============
*/

@import url('/Css/Librerias/grid.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300');

/* 
=============
RESET ESTILOS
=============
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2 {
  font-size: 1rem;
  line-height: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Colores Principales */
  --colorPrimario: hsl(30, 80%, 50%);
  --colorPrimarioOscuro: hsl(30, 80%, 42%);

  /* Colores Base */
  --colorTexto: hsl(0, 0%, 30%);

  /* Tipografía */
  --fuenteGeneral: 'Lato', sans-serif;
  --pesoGeneral: 300;

  /* Dimensiones */
  --areaActiva: 1180px;

  /* Otros */
  --transicionColores: background-color 300ms linear, color 300ms linear;
}

/*
=================
ESTILOS GENERALES
=================
*/

body {
  background-color: white;
  text-rendering: optimizeLegibility;
}

h1, h2, a {
  font-family: var(--fuenteGeneral);
  font-weight: var(--pesoGeneral);
}

h1, h2 {
  margin-bottom: 1rem;
}

/*
==================
ESTILOS ESTRUCTURA
==================
*/

.fila {
  margin: 0px auto;
  max-width: var(--areaActiva);
}

/*
================
BARRA NAVEGACIÓN
================
*/

header {
  position: relative;
  height: 100vh;
  background-image: url('/Recursos/Imagenes/Fondos/fondoHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsl(0, 0%, 30%);
  background-blend-mode: multiply;
  color: white;
}

/* 
============
SECCIÓN HERO
============
*/
div#contenidoHero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
}

div#contenidoHero h1 {
  font-size: 2.5rem;
}

div#contenidoHero h2 {
  font-size: 1.5rem;
}

div#contenidoHero h1, div#contenidoHero h2 {
  word-spacing: 0.25rem;
  text-transform: uppercase;
}

div#contenidoHero a[class*='boton'] {
  margin-right: 1rem;
  display: inline-block;
  border-radius: 10rem;
  padding: 0.75em 2em;
  font-size: 1rem;
  transition: var(--transicionColores);
  border: 1px solid transparent;
  cursor: pointer;
}

div#contenidoHero a.botonPrincipal {
  background-color: var(--colorPrimario);
  color: white;
}

div#contenidoHero a.botonPrincipal:hover {
  background-color: var(--colorPrimarioOscuro);
}

div#contenidoHero a.botonSecundario{
  border-color: var(--colorPrimario);
  color: var(--colorPrimario);
}

div#contenidoHero a.botonSecundario:hover {
  background-color: var(--colorPrimarioOscuro);
  border-color: var(--colorPrimarioOscuro);
  color: white;
}