/* 
=========
SECCIONES
=========
*/
.seccion {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* 
===================
FILAS: CLEAR FLOATS
===================
*/
.fila:before,
.fila:after {
	content: '';
	display: block;
}
.fila:after {
	clear:both;
}
.fila {
	padding: 0.625rem 0%;
}

/* 
=========================
COLUMNAS: FLOAT, MÁRGENES
=========================
*/
.columna {
	display: block;
	float: left;
	margin-left: 1.6%;
	margin-right: 0%;
}

.columna:first-child { 
	margin-left: 0%; 
}

@media (max-width: 480px) {
	.columna { 
		margin: 0%;
	}
}

/* 
================
GRID: 2 COLUMNAS
================
*/
.rango-2-de-2 {
	width: 100%;
}

.rango-1-de-2 {
	width: 49.2%;
}

@media (max-width: 480px) {
	.rango-2-de-2 {
		width: 100%; 
	}
	.rango-1-de-2 {
		width: 100%; 
	}
}

/* 
================
GRID: 3 COLUMNAS
================
*/
.rango-3-de-3 {
	width: 100%; 
}

.rango-2-de-3 {
	width: 66.13%; 
}

.rango-1-de-3 {
	width: 32.26%; 
}

@media (max-width: 480px) {
	.rango-3-de-3 {
		width: 100%; 
	}
	.rango-2-de-3 {
		width: 100%; 
	}
	.rango-1-de-3 {
		width: 100%;
	}
}

/* 
================
GRID: 4 COLUMNAS
================
*/
.rango-4-de-4 {
	width: 100%; 
}

.rango-3-de-4 {
	width: 74.6%; 
}

.rango-2-de-4 {
	width: 49.2%; 
}

.rango-1-de-4 {
	width: 23.8%; 
}

@media (max-width: 480px) {
	.rango-4-de-4 {
		width: 100%; 
	}
	.rango-3-de-4 {
		width: 100%; 
	}
	.rango-2-de-4 {
		width: 100%; 
	}
	.rango-1-de-4 {
		width: 100%; 
	}
}

/* 
================
GRID: 5 COLUMNAS
================
*/
.rango-5-de-5 {
	width: 100%;
}

.rango-4-de-5 {
	width: 79.68%; 
}

.rango-3-de-5 {
	width: 59.36%; 
}

.rango-2-de-5 {
	width: 39.04%;
}

.rango-1-de-5 {
	width: 18.72%;
}

@media (max-width: 480px) {
	.rango-5-de-5 {
		width: 100%; 
	}
	.rango-4-de-5 {
		width: 100%; 
	}
	.rango-3-de-5 {
		width: 100%; 
	}
	.rango-2-de-5 {
		width: 100%; 
	}
	.rango-1-de-5 {
		width: 100%; 
	}
}

/* 
================
GRID: 6 COLUMNAS
================
*/
.rango-6-de-6 {
	width: 100%;
}

.rango-5-de-6 {
	width: 83.06%;
}

.rango-4-de-6 {
	width: 66.13%;
}

.rango-3-de-6 {
	width: 49.2%;
}

.rango-2-de-6 {
	width: 32.26%;
}

.rango-1-de-6 {
	width: 15.33%;
}

@media only screen and (max-width: 480px) {
	.rango-6-de-6 {
		width: 100%; 
	}
	.rango-5-de-6 {
		width: 100%; 
	}
	.rango-4-de-6 {
		width: 100%; 
	}
	.rango-3-de-6 {
		width: 100%; 
	}
	.rango-2-de-6 {
		width: 100%; 
	}
	.rango-1-de-6 {
		width: 100%; 
	}
}
