/* Normaización Cuerpo */
body {
  margin: 0px;
  font-size: 1rem;
  line-height: 1em; 
}

/* Normalización Tipografía */
h1, button, input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1em;
  margin: 0px;

}

/* Normalización Super/Sub Índices */
sub, sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Reset Etiquetas Semánticas */
main, details {
  display: block;
}

summary {
  display: list-item;
}

pre, code, kbd, samp {
  font-family: 'Courier', monospace;
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

progress {
  vertical-align: baseline;
}
